<div class="location-form">
  <label for="location">Enter a starting point</label>
  <input type="text" name="location" id="location-input" placeholder="address,zip code, or ladnmark">
  <input type="submit" value="Add Starting Point" id="location-submit">
</div>
<ol id="location-list">
  <!-- locations inserted here -->
</ol>

