<li>
  <span class="location-remove">X</span>
  <a href='#{{search}}'>
  <p class="location-name">{{search}}</p>
  <p class="message">{{lat}}, {{lng}}</p>
  </a>
</li>

<!--
classes:
message
error
-->
