<h3>Find places to visit along your route.</h3>
<div class="location-form cf">
	<div class="loading"id="loading-gif">
		<img src="./../images/ajaxloader.gif"/>geolocating...
	</div>

	<fieldset>
		<label for="location-input" class="field-header">Where does your route start?</label>
		<input type="text" name="location" class="location-input" id="start-input" placeholder="address, zip code or landmark">
		<p class="description">Enter an address, city, or landmark where your route will start.</p>
	</fieldset>

	<fieldset>
		<label for="destination-input" class="field-header">Where does your route end?</label>
    <input type="text" name="destination" class="location-input" id="destination-input" placeholder="address, zip code or landmark">
    <p class="description">Enter a location where your route will end.</p>
  </fieldset>

  <fieldset id="filter">
    <legend class="field-header">Only show places that are...</legend>
      <label class="checkbox-wrap" for="check-entertainment">
        <input type="checkbox" name="filter" value="entertainment" id="check-entertainment">
        <span>Entertainment</span>
      </label>
      <label class="checkbox-wrap" for="check-stores">
        <input type="checkbox" name="filter" value="stores" id="check-stores">
        <span>Stores</span>
      </label>
      <label class="checkbox-wrap" for="check-services">
        <input type="checkbox" name="filter" value="services" id="check-services">
        <span>Services</span>
      </label>
      <label class="checkbox-wrap" for="check-food">
        <input type="checkbox" name="filter" value="food" id="check-food">
        <span>Food</span>
      </label>
      <label class="checkbox-wrap" for="check-aesthetics">
        <input type="checkbox" name="filter" value="aesthetics" id="check-aesthetics">
        <span>Aesthetics</span>
      </label>
      <label class="checkbox-wrap" for="check-transport">
        <input type="checkbox" name="filter" value="transportation" id="check-transport">
        <span>Transportation</span>
      </label>
      <label class="checkbox-wrap" for="check-banking">
        <input type="checkbox" name="filter" value="banking" id="check-banking">
        <span>Banking</span>
      </label>
      <label class="checkbox-wrap" for="check-education">
        <input type="checkbox" name="filter" value="education" id="check-education">
        <span>Education</span>
      </label>
  </fieldset>

  <p>
  	<input type="submit" value="Map it!" id="location-submit">
  </p>
</div>
<ol id="location-list" class="item-list">
  <!-- locations inserted here -->
</ol>

