<h3>Find places to visit along your route.</h3>
<div class="location-form cf">
	<div class="loading"id="loading-gif">
		<img src="./../images/ajaxloader.gif"/>geolocating...
	</div>
  <label for="location-input">Starting point:</label>
  <input type="text" name="location" class="location-input" id="start-input" placeholder="address, zip code or landmark">
    <fieldset id="filter">
    <legend>Filter results by type</legend>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="banking" id="check-banking">
        <label for="check-banking">Banking</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="entertainment" id="check-entertainment">
        <label for="check-entertainment">Entertainment</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="food" id="check-food">
        <label for="check-food">Food</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="healthBeauty" id="check-healthBeauty">
        <label for="check-healthBeauty">Health and Beauty</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="householdGoods" id="check-householdGoods">
        <label for="check-householdGoods">Household Items</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="services" id="check-services">
        <label for="check-services">Services</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="shopping" id="check-shopping">
        <label for="check-shopping">Shopping</label>
      </span>
      <span class="checkbox-wrap">
        <input type="checkbox" name="filter" value="transportation" id="check-transport">
        <label for="check-transport">Transportation</label>
      </span>
  </fieldset>

  <label for="destination-input">Destination:</label>
  <input type="text" name="destination" class="location-input" id="destination-input" placeholder="address, zip code or landmark">


  <p>
  	<input type="submit" value="Go" id="location-submit">
  </p>

</div>
<ol id="location-list" class="item-list">
  <!-- locations inserted here -->
</ol>

