<p><a href="#" class="back-button">Back to Places</a></p>
<div class="single-place-wrap">
	<h1>{{name}}</h1>
	<div class="col-2">
		<span class="rating">{{rating}}</span>
		<address>{{address}}</address>
		<span class="phone">{{address}}</span>
	</div>
	<div class="col-2">
		<ul>
			<li><a href="#">View on map</a></li>
			<li><a href="#">Call</a></li>
			<li><a href="#">Tweet</a></li>
		</ul>
	</div>
</div>